#about {
  height: 100vh;
  min-height: 600px;
  padding-top: 5%;
  padding-bottom: 5%;
  background: linear-gradient(to left, #ff9628, #f8ae5f);
}

p {
  text-align: justify;
  line-height: 1.8;
}

img {
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 20%);
}

@media screen and (max-width: 991px) {
  #about {
    height: auto;
  }
}
