.icon {
  background: url('../heroku-logo.svg');
  height: 1em;
  width: 1em;
  background-size: cover;
	background-repeat: no-repeat;
  display: inline-block;
  vertical-align: -0.125em;
}

.card-footer {
  font-size: 2.1rem;
}