#skills {
  background-color: antiquewhite;
}

.html-icon {
  color: #ff5733;
}

.css-icon {
  color: #264de4;
}

.js-icon {
  color: #f0db4f;
}

.react-icon {
  color: #61dbfb;
}

.node-icon {
  color: #43853d;
}

.db-icon {
  color: rgb(61, 21, 4);
}

.git-icon {
  color: #f54d27;
}

.gem-icon {
  color: #CC342D;
}

.heart-icon {
  color: rgb(170, 0, 0);
}